@media screen and (max-width: 768px) {
    .nav-menu li{
        display: none;
    }
    .navbar-toggle-icon{
        display: block;
    }
    .navbar .hide{
        display: none;
    }
    .chat-btn{
        display: block;
    }
    .main-header-title
    {
        font-size: 35px;
        line-height: 60px;
    }
    .auther-name{
        font-size: 40px;
    }
    .main-header-subtitle{
        font-size: 40px;
    }
    .changing-text{
        font-size: 40px;
    }
    .main-header-title img
    {
        width: 40px;
        height:40px;
    }
    .main-header-image img
    {
        display: inline;
        width: 320px;
        height: 300px;
        margin: 100px 0px 30px 0px;
    }
    .video-play
    {
        margin-top:10px ;
        padding: 0;
    } 
    .click-about
    {
        flex-wrap: wrap;
    }
    .auther-about-image img
    {
      width: 600px;
      height: 600px;
      margin-bottom: 30px;
    }
    .auther-about-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .working-process-card
    {
        padding: 20px 5px 20px 5px;
    }
    .working-process-card ul {
        width: 350px;
    };
}
@media screen and (max-width: 425px) {
    .navbar-toggle-icon{
        display: block;
    }
    .chat-btn{
        display: none;
    }
    .main-header-image img
    {
        display: none;
    }
    .main-header-image{
        display: none;
    }
    .main-header{
        grid-template-columns: 2fr;
    }
    .services-card-content
    {
        padding: 0px;
    }
    .services-cards-row
    {
        gap: 30px;
    }
    .services-card
    {
        margin: 20px;
        padding: 30px 10px 30px 10px;
    }
    .section-heading
    {
        font-size:25px ;
    }
    .my-specializations
    {
        font-size: 30px;
    }
    .section-strike{
        width: 250px;
    }
    .section-strike1
    {
        width: 350px;
    }
    .section-heading1
    {
        font-size: 25px;
    }
    .hire-me-card
    {
        padding: 20px 10px 20px 10px;
    }
    .hire-me-card h1{
        font-size: 50px;
    }
    .projects-card img {
        width: 300px;
        height: 300px;
    }
    .projects-card h3
    {
        font-size: 20px;
    }
    .projects-card h1
    {
        font-size: 30px;
    }
    .projects-card .projects-card-popup{

     width: 40px;
     height: 40px;
    }
    .projects-card .projects-card-popup i{
        font-size: 25px;
    }
  .about-buttons
  {
    gap: 20px;
  }
  .auther-about-image img
  {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
  .auther-about-image img{
    margin-right: 0;
  }
  .click-about 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .auther-about-content p {
    font-size: 16px;
  }
  .auther-about-card-info
  {
    margin-right: 3px;
    padding: 10px;
  }
}