@media screen and (min-width: 768px) {
    .mobile-bottom-navbar
    {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (max-width: 768px) {
    .nav-menu li{
        display: none;
    }
    .navbar-toggle-icon{
        display: none;
    }
    .navbar .hide{
        display: block;
    }
    .chat-btn{
        display: block;
    }
    .main-header-title
    {
        font-size: 35px;
        line-height: 60px;
    }
    .auther-name{
        font-size: 40px;
    }
    .main-header-subtitle{
        font-size: 40px;
    }
    .changing-text{
        font-size: 40px;
    }
    .main-header-title img
    {
        width: 40px;
        height:40px;
    }
    .main-header-image img
    {
        display: inline;
        width: 320px;
        height: 300px;
        margin: 100px 0px 30px 0px;
    }
    .video-play
    {
        margin-top:10px ;
        padding: 0;
    } 
    .click-about
    {
        flex-wrap: wrap;
    }
    .auther-about-image img
    {
      width: 600px;
      height: 600px;
      margin-bottom: 30px;
    }
    .auther-about-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .working-process-card
    {
        padding: 20px 5px 20px 5px;
    }
    .working-process-card ul {  
        width: 350px;
    }
    .contact-section
    {
        gap: 50px;
    }
    .mobile-bottom-navbar
    {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .modal-container{
        width: 500px;
        height: 400px;
    }
    .modal-container video{
        width: 450px;
        
    }
    .contact-section-1 h1
    {
        font-size: 50px;
    }
    .contact-section-2 form input,
.contact-section-2 form textarea{
    font-size: 13px;
}
    }
@media screen and (max-width: 425px) {
    .crousel,
    .crousel img{
        width: 300px;
        height: 300px;
    }
    .crousel::scroll-button(left){
        translate: -10px;
        font-size: 50px;
    }
    .crousel::scroll-button(right){
        translate: 10px;
        font-size: 50px;
    }
    .navbar-toggle-icon{
        display: none;
    }
    .mobile-bottom-navbar
    {
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .navbar
    {
        position: relative;
    }
    .chat-btn{
        display: none;
    }
    .contact-section-1 h1
    {
        font-size: 40px;
    }
    .whatsapp-redirect img
    {
        width: 50px;
        height: 50px;
    }
    .main-header-image img
    {
        display: none;
    }
    .main-header-image{
        display: none;
    }
    .main-header{
        grid-template-columns: 2fr;
    }
    .services-card-content
    {
        padding: 0px;
    }
    .services-cards-row
    {
        gap: 30px;
    }
    .services-card
    {
        margin: 20px;
        padding: 30px 10px 30px 10px;
    }
    .section-heading
    {
        font-size:25px ;
    }
    .my-specializations
    {
        font-size: 30px;
    }
    .section-strike{
        width: 250px;
    }
    .section-strike1
    {
        width: 350px;
    }
    .section-heading1
    {
        font-size: 25px;
    }
    .hire-me-card
    {
        padding: 20px 10px 20px 10px;
    }
    .hire-me-card h1{
        font-size: 50px;
    }
    .projects-card img {
        width: 300px;
        height: 300px;
    }
    .projects-card h3
    {
        font-size: 20px;
    }
    .projects-card h1
    {
        font-size: 30px;
    }
    .projects-card .projects-card-popup{

     width: 40px;
     height: 40px;
    }
    .projects-card .projects-card-popup i{
        font-size: 25px;
    }
  .about-buttons
  {
    gap: 20px;
  }
  .auther-about-image img
  {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
  .auther-about-image img{
    margin-right: 0;
  }
  .click-about 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .auther-about-content p {
    font-size: 16px;
  }
  .auther-about-card-info
  {
    margin-right: 3px;
    padding: 10px;
  }
  .navbar-bottom-container ul
  {
      gap: 14px;
  }
  .modal-container{
    width: 400px;
    height: 300px;
}
.modal-container video{
    width: 350px;
    
}
}
@media screen and (max-width: 375px)
{
    .crousel,
    .crousel img{
        width: 250px;
        height: 250px;
    }
    .crousel::scroll-button(left){
        translate: -10px;
        font-size: 50px;
    }
    .crousel::scroll-button(right){
        translate: 10px;
        font-size: 50px;
    }
    .modal-container{
        width: 350px;
        height: 200px;
    }
    .modal-container video{
        width: 250px;
        
    }
}
@media screen and (max-width: 320px)
{
    .crousel,
    .crousel img{
        width: 250px;
        height: 250px;
    }
    .crousel::scroll-button(left){
        translate: -0px;
        font-size: 32px;
    }
    .crousel::scroll-button(right){
        translate: 0px;
        font-size: 32px;
    }
    .name{
        font-size: 14px;
    }
    .role
    {
        font-size: 12px;
    }
    .navbar-toggle-icon{
        width: 52px;
        height: 52px;
        display: none;
    }
    .navbar-toggle-icon i {
        font-size: 25px;
    }
    .chat-btn{
        display: none;
    }
    .main-header-image img
    {
        display: none;
    }
    .main-header-image{
        display: none;
    }
    .main-header{
        grid-template-columns: 2fr;
    }
    .services-card-content
    {
        padding: 0px;
    }
    .services-cards-row
    {
        gap: 30px;
    }
    .services-card
    {
        margin: 20px;
        padding: 30px 10px 30px 10px;
    }
   .mobile-bottom-navbar
    {
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .navbar-bottom-container ul
    {
        gap: 10px;
    }
    .favicon
    {
        width: 45px;
        height: 45px;
    }
    .favicon i 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .main-header-content .redirect-freelance
    {
        font-size: 25px;
    }
    .redirect-freelance img
    {
        width: 150px;
        height: 150px;
        top: -55px;
        left: -70px;
    }
    .main-header-title
    {
        font-size: 45px;
    }
    .main-header-title img
    {
        width: 40px;
        height: 40px;
    }
    .main-header-title span
    {
        font-size: 34px;
    }
    .outer-circle
    {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
    .inner-circle
    {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .services-card
    {
        padding: 40px 5px 40px 5px;
    }
    .services-card img
    {
        width: 70px;
        height: 70px;
    }
    .services-card-title
    {
        font-size: 18px;
    }
    .services-card-paragraph
    {
        font-size: 16px;
    }
    .section-heading
    {
        font-size:25px ;
    }
    .my-specializations
    {
        font-size: 30px;
    }
    .section-strike{
        width: 250px;
    }
    .section-strike1
    {
        width: 320px;
    }
    .section-heading1
    {
        font-size: 25px;
    }
    .hire-me-card
    {
        padding: 20px 10px 20px 10px;
    }
    .hire-me-card h1{
        font-size: 50px;
    }
    .projects-card img {
        width: 300px;
        height: 300px;
    }
    .projects-card h3
    {
        font-size: 20px;
    }
    .projects-card h1
    {
        font-size: 30px;
    }
    .projects-card .projects-card-popup{

     width: 40px;
     height: 40px;
    }
    .projects-card .projects-card-popup i{
        font-size: 25px;
    }
  .about-buttons
  {
    gap: 20px;
  }
  .auther-about-image img
  {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
  .auther-about-image img{
    margin-right: 0;
  }
  .click-about 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .auther-about-content p {
    font-size: 16px;
  }
  .auther-about-card-info
  {
    margin-right: 3px;
    padding: 10px;
  } 
  .navbar-bottom-container li a
  {
    font-size: 14px;
  }
  .modal-container{
    width: 330px;
    height: 100px;
}
.modal-container video{
    width: 230px;
    
}
}